m2701drv:ch05.DCV.NPLCycles=1
m2701drv:ch04.DCV.AverageCount=5
m2701drv:ch04.DCV.Range=AUTO
m2701drv:ch03.DCV.AverageState=1
m2701drv:DMM.TriggerDelay=0.01
m2701drv:DMM.DCV.Range=AUTO
m2701drv:ch01.DCV.Range=AUTO
m2701drv:DMM.DCV.AverageCount=5
m2701drv:ch01.DCV.AverageState=1
m2701drv:ch05.DCV.AverageState=1
m2701drv:ch02.DCV.AverageCount=5
m2701drv:ch04.DCV.NPLCycles=1
m2701drv:ch03.DCV.Range=AUTO
m2701drv:ch04.DCV.AverageState=1
m2701drv:ch03.DCV.AverageCount=5
m2701drv:ch02.DCV.NPLCycles=1
m2701drv:DMM.DCV.NPLCycles=1
m2701drv:ch05.DCV.Range=AUTO
m2701drv:ch02.DCV.AverageState=1
m2701drv:ch01.DCV.AverageCount=5
m2701drv:ch02.DCV.Range=AUTO
m2701drv:DMM.DCV.AverageState=1
m2701drv:ch03.DCV.NPLCycles=1
m2701drv:ch05.DCV.AverageCount=5
m2701drv:ch01.DCV.NPLCycles=1
m2701drv:DMM.DCV.AverageControl=REP
